Source: command-not-found
Section: admin
Priority: optional
Homepage: https://github.com/shawnl/command-not-found
Maintainer: Shawn Landden <shawn@git.icu>
Build-Depends: debhelper-compat (= 12),
	meson,
	gettext
Standards-Version: 4.3.0

Package: command-not-found
Architecture: any
Depends: apt, adduser, ${shlibs:Depends}, ${misc:Depends}
# Only useful with repositories that do not provide Commands files
Suggests: apt-file
Description: Suggest installation of packages in interactive bash sessions
 This package will install handler for command_not_found that looks up
 programs not currently installed but available from the repositories.
