Source: command-not-found-ng
Section: admin
Priority: optional
Homepage: https://github.com/shawnl/command-not-found
Maintainer: Shawn Landden <shawn@git.icu>
Build-Depends: debhelper (>= 10.3),
	meson,
	gettext
Standards-Version: 4.1.1.1

Package: command-not-found-ng
Architecture: any
Depends: apt-file, apt, ${shlibs:Depends}, ${misc:Depends}
Conflicts: command-not-found
Replaces: command-not-found
Provides: command-not-found
Description: Suggest installation of packages in interactive bash sessions
 This package will install handler for command_not_found that looks up
 programs not currently installed but available from the repositories.
 .
 Unlike command-not-found, does not depend on Python and has a much more
 compact database. Technical disagreements with snapcraft developers
 on providing a hook prevented this from entering Ubuntu.
